
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Roboto,sans-serif;
   
}
.conteiner {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px auto;
    grid-template-areas: 
    'header header header'
    'header2 header2 header2'
    'main main main';

}

@media screen and (max-width:690px) {
    .header {
        
        width: 80%;
    }
    .header2 {
        width: 80%;
    }
    .main {
        width: 80%;
    }
}


.header {
    grid-area: header;
}
.header {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    height: 50px;
    color: gray;
}

#x {
    text-decoration: none;
    color: gray;
}
i:hover {
    padding: 5px;
    background-color: #c9e4f9;
}
i:active {
    background-color:#acd4f3 ;
}
.header i {
    padding:5px ; 
}
.header a {
    text-decoration: none;
    color: grey;
}
/* header  2 start*/
.header2 { 
    grid-area: header2;
}
.header2 {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
}
.header2 a {
   color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

@media screen and (max-width:690px) {
    .home a {
        display: none;
    }
    .header2 {
        margin: 0px;
    }
}

.responsive {
    font-size: 20px;
    color: black;
    position: relative;
    display: inline-block;
}

.home-responsive {
    display: none;
    position: absolute;
    background-color: #2c2828;
    opacity: 88%;
    color: white;
    font-size: 36px;
    width: 250px;
    height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.responsive:hover .home-responsive {
    display: block;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header2 h2 {
    color: rgb(219, 13, 13);
}
@media screen and (max-width:690px) {
    .header2 {
        display: flex;
        flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    }
    
}
@media screen and (min-width:690px) {
    .responsive {
        display: none;
    }
    
}

/* slika 1 start */

.main {
    grid-area: main;
}
.main {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        45deg, #3000ce, #ff063c);
        color: white;
        display: inline-block;
        animation-name: slikastudio;
}
.image {
    display: inline-block;
    padding: 30px 30px 30px 100px;
    position: relative;
    margin-right: 0px;
    animation-name: slikastudio;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;
    vertical-align: -110px;
}
@media screen and (max-width:690px) {
    .main img {
        width: 80%;
        height: 80%;
        
    }
}
.studiotekst {
    display: inline-block;
    width: 40%;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    position: relative;
    text-align: left;
    animation-name: tekststudio;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;

}
@media screen and (max-width:690px) {
    .studiotekst {
        width: 100%;
        
    }
}

.studiotekst h1 {
    margin: 0px;
}
.studiotekst p {
    margin-bottom: 30px;
}
@keyframes slikastudio {
    0% {left:-600px;
        animation-timing-function: ease-in;}
100% {
      left: 0px;
      animation-timing-function: ease-out;}
}
@keyframes tekststudio {
    0% {right:-600px;
        -webkit-animation-timing-function: ease-in;}
100% {
      right: 0px;
      animation-timing-function: ease-out;}
}
.learnmore {
    border: solid white 2px;
    color: white;
    
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    text-align: center;
    font-size: 18px;
}
.learnmore:hover {
    background-color: white;
    color: black;
}

/* conteiner 2 */
.conteiner2 {
    width: 100%;
    height: 100%;
   
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px auto;
    grid-template-areas: 
    'mission mission mission'
    'box box box';

}
.mission {
    grid-area: mission;

}

.mission {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    position: relative;
animation-name: ourmission;
animation-delay: 0s;
animation-iteration-count: 1;
animation-duration: 1s;

}


@keyframes  ourmission {
    0% {top: -100px;
        animation-timing-function: ease-in;
        color: white;
    
    }

    100% {top: 0px;
      animation-timing-function: ease-out;

    } 
}
.box{
    width: 100%;
    grid-area: box;
    display: flex;
    justify-content: space-evenly;
    font-family: Roboto,sans-serif;
}

@media screen and (max-width:690px) {
   .box {
display: flex;
justify-content: space-around;
   }
    
}
.box p {
    font-style: italic;
    color: grey; 
}
.box h1 {
    color: grey;
}
.box a {
    color: #ff063c;
    text-decoration: none;
    font-size: x-large;
}
.light{
    width: 64px; height: 64px;
    background-color: #ff063c;
    border-radius: 50%;
font-size: 36px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}


.creative {
    display: inline-block;
    width: 27%;
    position: relative;
    animation-name: creative;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
@keyframes creative {
    0% {left:-200px;
        animation-timing-function: ease-in;}
100% {
      left: 0px;
      animation-timing-function: ease-out;}
} 
.designbox{
    display: inline-block;
    width: 27%;
    position: relative;
    animation-name: design;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes design {
    0% {top: 200px;
        animation-timing-function: ease-in;}
100% {
      top: 0px;
      animation-timing-function: ease-out;}
} 
.team {
    display: inline-block;
    width: 27%;
    position: relative;
    animation-name: team;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes team {
    0% {left:200px;
        animation-timing-function: ease-in;}
100% {
      left: 0px;
      animation-timing-function: ease-out;}
} 

.box p {
    word-wrap: break-word;
}

/* conteiner secrets */
.conteiner-secrets{
    display: flex;
    margin-top: 30px;

}
.secrets-text{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: flex-end;
padding: 30px 80px 30px 100px;

}
.secrets-text p {
    margin-bottom: 20px;
    text-align: end;
}

.secrets-text h2 {
    margin-bottom:20px;
    text-align: end;
}
.secrets-text img {
    width: 250px;height: 250px;
}
@media screen and (max-width:690px) {
    .conteiner-secrets img  {
        width: 300px;
        height: 220px;
        
    }
    .secrets-text {
        padding: 10px;
        display: flex;
        align-items: center;
    }
.conteiner-secrets {
    display: flex;
    justify-content: center;
    display: flex;
      flex-wrap: wrap;
}
}
.secrets-text a {
    color: #ff063c;
    text-decoration: none;
}
 


/* <!-- CONTEINER BOX TEXT --> */
.box-text {
margin-top: 130px;
}
.box-header{
text-align: center;
}
.box-conteiner {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: center;

}
.box-menu {
    border: solid red 2px;
    width: 300px;
    height: 280px;
    padding: 15px;
    text-align: center;
    margin: 15px;
    display: flex;
    flex-direction: column;
 justify-content: center;
    
    
}
.box-menu h3 {
    font-family: 'Open Sans',sans-serif;
    color: red;
}
.box-menu p {
    font-size: 16px;
    line-height: 2.0;
    font-style: italic;
    color: grey;
}

/* CONTEINER TEAM */

.conteiner-team{
    background-image: linear-gradient(
        0deg,  #9035e6, #3000ce);
        color: white;
padding: 30px;
    }
    .team-img {
       display: flex;
       justify-content: space-evenly;
    }
    .team-img img {
        width: 30%;

    }
.team-text {
    margin: 50px;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 100px;
    position: relative;
    animation-name: teamtext;
    animation-delay: 0s ;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes teamtext {
    0% {top:200px;
       
        animation-timing-function: ease-in;}
100% {
      top: 0px;
      
      animation-timing-function: ease-out;}
} 
@media screen and (max-width:690px) {
    .team-img img {
        width: 80%;
        height: 100%;
        margin-top: 10px;
    }
    .team-img {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        
    }
}

.our-service {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.conteiner-image {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 40% 58%;
    background-color: white;
    width: 80vw;
    grid-template-areas: 
    'kalendar drive propusnica' 
    'flase books books';
    grid-gap: 10px;
   margin: auto;
   height: 700px;
   
}
@media screen and (max-width:700px) {
    .conteiner-image {
        grid-template-columns: auto;
        grid-template-rows:   auto auto auto auto;
        grid-template-areas: 
    'kalendar' 'drive' 'propusnica'  
    'flase' ;
    }
    .image-books {
        display: none;
    }
}
.image-kalendar {
grid-area: kalendar;
overflow: hidden;
background-image: url(kalendar.jpg);
background-size:cover;
background-position-y: 70%;
}
.image-drive {
        grid-area: drive;
        overflow: hidden;
        background-image: url(drive.jpg);
       background-size:cover;
       background-position-y: 30%;
}
.image-propusnica {
        grid-area: propusnica;
        overflow: hidden;
        background-image: url(znacka.jpg);
       background-size:cover;
       background-position-y: 30%;
}
.image-flase {
    overflow: hidden;
    background-image: url(flase.jpg);
   background-size:cover;
   background-position-y: 30%;
        grid-area: flase;
}
.image-books {
    grid-area: books;
    overflow: hidden;
    background-image: url(books.jpg);
   background-size:cover;
   background-position-y: 30%;
}
.conteiner-image img {
    width: 100%;
    height: 100%;
}

.last-conteiner {
    
    background-image: linear-gradient(
        0deg, #765fc0, #3000ce);
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.last-text {
    color: white;
    padding-left: 15px;
    display: flex;
    width: 42%;
    height: 84%;
    background-image: linear-gradient(
        0deg, #ae6cbe, #ff063c);
display: flex;
align-items: center;
align-content: center;
flex-wrap: wrap;

    
}
.last-text h1{
font-size: 60px;

}
.last-text h3 {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.last-text a {
    width: 220px;
    height: 45px;
    border: solid white 2px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: flex;
        justify-content: center;
        align-items: center;
}
.last-text a:hover {
    background-color: white;
    color: black;
}
.last-image {
    background-color: seagreen;
    width: 42%;
    height: 84%;
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
    'fotoaparat fotoaparat'
    'fotoaparat fotoaparat'
    'hug extra'
    'letter notes';
    
}

.last-image  img {
    width: 260px;
    height:200px;
    object-fit: cover;
    overflow: hidden;

    
    
}
.fotoaparat {
    grid-area: fotoaparat;
    overflow: hidden;
   background-image: url(manaparat.jpg);
  background-size:cover;
  background-position-y: 30%;
}


.hug {
    grid-area: hug;
    overflow: hidden;
    background-image: url(thuglife.jpg);
    background-size:cover;
    background-position-y: 50%;
}

.extra {
    grid-area: extra;
    overflow: hidden;
    background-image: url(extraord.jpg);
    background-size:cover;
    
}
.letter {
    grid-area: letter;
    overflow: hidden;
    background-image: url(letterg.jpg);
    background-size:cover;
    background-position-y: 50%;
}
.notes {
    grid-area: notes;
    overflow: hidden;
    background-image: url(notes.jpg);
    background-size:cover;
    background-position-y: 50%;

}
@media screen and (max-width:700px) {

    .last-conteiner {
        display: flex;
        flex-direction: column;
        height: 2000px;
    }
    .last-image {
        width: 100vw;
        height: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
    'fotoaparat ' 'fotoaparat'
    'hug ' 'extra'
    'letter' 'notes';
    }
    .last-text {
        width: 100vw;
        height: 30%;
        
    }
}
.conteiner-contact {
    width: 96vw;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
}
.conteiner-contact h5 {
    color: black;
    padding-top: 20px;

}
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    animation-name: location;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
@media screen and (max-width:690px) {
    .conteiner-contact  {
       display: flex;
       flex-direction: column;
       height: 400px;
            
    }
}
    
.contact-icons {
    width: 60px;
    height: 60px;
    background-color: #ff063c;
    color: white;
    border-radius: 50%;
    font-size: 34px;
justify-content: center;
        display: flex;
    align-items: center;
}

.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    animation-name: phone;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
.email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    animation-name: email;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes location {
    0% {left:-150px;
       
        animation-timing-function: ease-in;}
100% {
      left: 0px;
      
      animation-timing-function: ease-out;}
}

@keyframes phone {
    0% {top:-100px;
       
        animation-timing-function: ease-in;}
100% {
      top: 0px;
      
      animation-timing-function: ease-out;}
}

@keyframes email {
    0% {left:100px;
       
        animation-timing-function: ease-in;}
100% {
      left: 0px;
      
      animation-timing-function: ease-out;}
}

.footer1 {
    background-color: blue;
}
.footer1-text {
    
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.headline-text {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;

}


.footer1-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.footer1-logo img {
    width: 20px;
    height: 20px;
   
}

.footer {
    background-color: #333333;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer a{
    color: white;
}
.footer-text {
    text-align: center;
    
}