*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Roboto,sans-serif;
}
.conteiner {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px auto;
    grid-template-areas: 
    'header header header'
    'header2 header2 header2'
    'main main main';

}


.header {
    grid-area: header;
}
.header {
    background-color: #f2f2f2;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    font-size: 32px;
    height: 50px;
    color: gray;
}

#x {
    text-decoration: none;
    color: gray;
    margin-right: 10px;
}
i:hover {
    padding: 5px;
    background-color: #c9e4f9;
}
i:active {
    background-color:#acd4f3 ;
}
.header i {
    padding:5px ; 
}
.header a {
    text-decoration: none;
    color: grey;
}
/* header  2 start*/
.header2 { 
    grid-area: header2;
}
.header2 {
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
}
.header2 a {
   color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}
.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header2 h2 {
    color: rgb(219, 13, 13);
}
@media screen and (max-width:690px) {
    .header2 {
        display: flex;
        flex-wrap: wrap;
    }
    
}
/* slika 1 start */

.main {
    grid-area: main;
}
.main {
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(
        45deg, #3000ce, #ff063c);
        color: white;
        display: inline-block;
        animation-name: slikastudio;
}
.image {
    display: inline-block;
    padding: 30px 30px 30px 100px;
    position: relative;
    margin-right: 0px;
    animation-name: slikastudio;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;
    vertical-align: -110px;
}
@media screen and (max-width:690px) {
    .main img {
        width: 100%;
        height: 100%;
    }
}
.studiotekst {
    display: inline-block;
    width: 40%;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    position: relative;
    text-align: left;
    animation-name: tekststudio;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;

}
.studiotekst h1 {
    margin: 0px;
}
@keyframes slikastudio {
    0% {left:-600px;
        animation-timing-function: ease-in;}
100% {
      left: 0px;
      animation-timing-function: ease-out;}
}
@keyframes tekststudio {
    0% {right:-600px;
        -webkit-animation-timing-function: ease-in;}
100% {
      right: 0px;
      animation-timing-function: ease-out;}
}
.learnmore {
    border: solid white 2px;
    color: white;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    text-align: center;
    font-size: 18px;
}
.learnmore:hover {
    background-color: white;
    color: black;
}

/* conteiner 2 */
.conteiner2 {
    width: 98vw;
    height: 100%;
   
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px auto;
    grid-template-areas: 
    'mission mission mission'
    'box box box';

}
.mission {
    grid-area: mission;

}

.mission {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    position: relative;
animation-name: ourmission;
animation-delay: 0s;
animation-iteration-count: 1;
animation-duration: 1s;

}


@keyframes  ourmission {
    0% {top: -100px;
        animation-timing-function: ease-in;
        color: white;
    
    }

    100% {top: 0px;
      animation-timing-function: ease-out;

    } 
}
.box{
    width: 98vw;
    grid-area: box;
    display: flex;
    justify-content: space-evenly;
    font-family: Roboto,sans-serif;
}
.box p {
    font-style: italic;
    color: grey; 
}
.box h1 {
    color: grey;
}
.box a {
    color: #ff063c;
    text-decoration: none;
    font-size: x-large;
}
.light{
    width: 64px; height: 64px;
    background-color: #ff063c;
    border-radius: 50%;
font-size: 36px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}


.creative {
    display: inline-block;
    width: 27%;
    position: relative;
    animation-name: creative;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
@keyframes creative {
    0% {left:-200px;
        animation-timing-function: ease-in;}
100% {
      left: 0px;
      animation-timing-function: ease-out;}
} 
.designbox{
    display: inline-block;
    width: 27%;
    position: relative;
    animation-name: design;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes design {
    0% {top: 200px;
        animation-timing-function: ease-in;}
100% {
      top: 0px;
      animation-timing-function: ease-out;}
} 
.team {
    display: inline-block;
    width: 27%;
    position: relative;
    animation-name: team;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes team {
    0% {left:200px;
        animation-timing-function: ease-in;}
100% {
      left: 0px;
      animation-timing-function: ease-out;}
} 

.box p {
    word-wrap: break-word;
}

/* conteiner secrets */
.conteiner-secrets{
    display: flex;
    margin: 10px;

}
.secrets-text{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: flex-end;
padding: 30px 80px 30px 200px;

}
.secrets-text img {
    width: 250px;height: 250px;
}
@media screen and (max-width:690px) {
    .conteiner-secrets img  {
        width: 300px;
        height: 220px;
    }
    .secrets-text {
        padding: 10px;
        display: flex;
        align-items: center;
    }

}
.secrets-text a {
    color: #ff063c;
    text-decoration: none;
}
 
@media screen and  (max-width: 915px){

  .conteiner-secrets {
      display: flex;
      flex-wrap: wrap;
  } 
}

/* <!-- CONTEINER BOX TEXT --> */
.box-text {
margin-top: 130px;
}
.box-header{
text-align: center;
}
.box-conteiner {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: center;

}
.box-menu {
    border: solid red 2px;
    width: 300px;
    height: 280px;
    padding: 15px;
    text-align: center;
    margin: 15px;
    display: flex;
    flex-direction: column;
 justify-content: center;
    
    
}
.box-menu h3 {
    font-family: 'Open Sans',sans-serif;
    color: red;
}
.box-menu p {
    font-size: 16px;
    line-height: 2.0;
    font-style: italic;
    color: grey;
}
/* CONTEINER TEAM */

.conteiner-team{
    background-image: linear-gradient(
        0deg,  #9035e6, #3000ce);
        color: white;
padding: 30px;
    }
    .team-img {
       display: flex;
       justify-content: space-evenly;
    }
.team-text {
    margin: 50px;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 100px;
    position: relative;
    animation-name: teamtext;
    animation-delay: 0s ;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes teamtext {
    0% {top:200px;
       
        animation-timing-function: ease-in;}
100% {
      top: 0px;
      
      animation-timing-function: ease-out;}
} 
@media screen and (max-width:690px) {
    .team-img img {
        width: 350px;
        height: 180px;
    }
    .team-img {
        display: flex;
        flex-wrap: wrap;
    }
    .conteiner-team {
        width: 100vw;
    }
    .conteiner-secrets {
        width: 100vw;
    }
    .conteiner {
        width: 100vw;
    }
    .conteiner2 {
        width: 100vw;
    }
    .header2 .header .main {
        width: 100vw;
    }
}

.our-service {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.conteiner-image {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    background-color: white;
    width: 80vw;
    grid-template-areas: 
    'kalendar drive propusnica' 
    'flase books books';
    grid-gap: 10px;
   margin: auto
   ;
}
.image-kalendar {
grid-area: kalendar;
}
.image-drive {
    
        grid-area: drive;
}
.image-propusnica {
    
        grid-area: propusnica;
}
.image-flase {
    
        grid-area: flase;
}
.image-books {
    grid-area: books;
}
.conteiner-image img {
    width: 100%;
    height: 100%;
}

.last-conteiner {
    
    background-image: linear-gradient(
        0deg, #765fc0, #3000ce);
        width: 98vw;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.last-text {
    color: white;
    padding-left: 15px;
    display: flex;
    width: 42%;
    height: 84%;
    background-image: linear-gradient(
        0deg, #ae6cbe, #ff063c);
display: flex;
align-items: center;
align-content: center;
gap: 10px;
flex-wrap: wrap;

    
}
.last-text h1{
font-size: 60px;
}
.last-text h3 {
    font-size: 20px;
}
.last-text a {
    width: 220px;
    height: 45px;
    border: solid white 2px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: flex;
        justify-content: center;
        align-items: center;
}
.last-text a:hover {
    background-color: white;
    color: black;
}
.last-image {
    background-color: seagreen;
    width: 42%;
    height: 84%;
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'foto foto'
    'foto foto'
    'hug extra'
    'letter notes';
    border: black solid 2px;
}
.last-image img {
    object-fit: contain;
   
}
.fotoaparat {
     grid-area: foto;
     border: solid black 2px;
}

.hug {
    grid-area: hug;
    border: solid black 2px;
}

.extra {
    grid-area: extra;
    border: solid black 2px;
}
.letter {
    grid-area: letter;
    border: solid black 2px;
}
.notes {
    grid-area: notes;
    border: solid black 2px;
}
