
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.conteiner {
    width: 100vw;
    height: 100%;
    
    display: grid;
    grid-template-columns: 150px auto 200px;
    grid-template-rows:50px auto 50px ;
    grid-template-areas:
    'header header header '
    'aside main main '
    'footer footer footer ';
}


.header{
    grid-area: header;
    text-align: start;
background-color: rgb(1, 12, 1);
}
.header li {
    display: inline-block;
    text-align: center;

    background-color: rgb(1, 12, 1);
    color: white;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}
.header li:hover {
    background-color:rgb(107, 112, 107) ;
}

.aside {
    grid-area: aside;
    background-color: lavender;
   

}
.aside ul {
    float: left;
    text-align: left;
    padding: 0px 80px 0px 10px;
}
.aside li {
    padding: 0px 80px 0px 10px;

}
.aside ul li {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: hotpink;
    
}
.aside li:hover {
background-color: grey;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}

.studio {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        45deg, #3000ce, #ff063c);
        color: white;
        display: inline-block;
        animation-name: slikastudio;
        border: none;
}
.image {
    display: inline-block;
    padding: 30px 30px 30px 100px;
    position: relative;
    margin-right: 0px;
    animation-name: slikastudio;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;
    vertical-align: -110px;

    
    
    
}
.studiotekst {
    display: inline-block;
    width: 40%;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    position: relative;
    text-align: left;
    animation-name: tekststudio;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1s;

}
.studiotekst h1 {
    margin: 0px;
}
@keyframes slikastudio {
    0% {left:-600px;
        animation-timing-function: ease-in;}
100% {
      left: 0px;
      animation-timing-function: ease-out;}
}
@keyframes tekststudio {
    0% {right:-600px;
        -webkit-animation-timing-function: ease-in;}
100% {
      right: 0px;
      animation-timing-function: ease-out;}
}
.learnmore {
    border: solid white 2px;
    color: white;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    text-align: center;
    font-size: 18px;
}
.learnmore:hover {
    background-color: white;
    color: black;
}
