body {
    background-color: grey;
    margin: 50px 50px 50px 70px;
    font-family: "Reenie Beanie",arial,sans-serif;
}
.linkovi a {
    display: inline-block;
    text-align: center;
    background-color: grey;
    color: white;
    font-size: 20px;
    padding: 15x;
    text-decoration: underline;
}
.linkovi {
    text-align: center;
    margin-bottom: 20px;
}
#trenutnilink {
text-decoration: none;
font-weight: bold;
}

.conteiner1{
    width: 192px;
    height: 192px;
    background-color:#ffc;
    color: black;
    margin: 20px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    display: inline-block;
    transform: rotate(-7deg);
    box-shadow: 5px 5px 25px black;
}

.conteiner2{
    width: 192px;
    height: 192px;
    background-color:#ffc;
    color: black;
    margin: 10px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    display: inline-block;
    transform: rotate(7deg);
    box-shadow: 5px 5px 25px black;
}
.conteiner3{
    width: 192px;
    height: 192px;
    background-color:#ffc;
    color: black;
    margin: 10px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    display: inline-block;
    transform: rotate(4deg);
    box-shadow: 5px 5px 25px black;
}

p {
    font-size: 35px;
    margin: 0px;
    
}
h2 {
    margin: 0px;
}

