* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 4, 44);
}

.clock {
    font-size: 100px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
    color: #1bbee2;
    
}



.oko {
    background-color: black;
    width: 650px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 4, 44);
    border-radius: 4px;
    box-shadow: 30px 30px 200px 20px #3dc1df, -15px -15px 200px 2px #3dc1df;
    
}

.datum {
    display: block;
    height: 50px;
    width: 100%;
}
#date {
    color:#3dc1df ;
    height: 50px;
    width: 100%;
}

@media screen and (max-width:600px) {
    .clock {
        font-size: 40px;
        
    }
    .oko {

        width: 80%;
        height: 150px;
    }
}