* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 207, 207);
}

.clock {
    font-size: 80px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
    color: black;
    
}

.godina {
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
    color: black;
}



.out {
    background-color: whitesmoke;
    width: 650px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner {
    background-color: #e7e4e4;
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 3px; 
    box-shadow: inset 0px 0px 15px rgb(94, 92, 92,0.4);
}

.upper {
    height:20%;
    display: block;
    padding-top: 10px;
}

.down {
    display: block;

    height:80%;
}


.datum {
    display: block;
    height: 50px;
    width: 100%;
}
#date {
    color:whitesmoke ;
    height: 50px;
    width: 100%;
}

@media screen and (max-width:600px) {
    .clock {
        font-size: 40px;
        padding-top:20px;
    }
    .out {

        width: 95%;
        height: 200px;
    }
.upper {
    height:30%;
}
}