body {
    background-color: rgb(231, 227, 231);
    margin: 0px;
    box-sizing: border-box;
    display: flex;
   width: 100vw; height: 100vw;
    justify-content: center;
    align-items: center;
}
div {
    width: 500px; height: 270px;
    background-color: white;
    border-radius: 22px;
    box-shadow:10px 10px 30px rgb(116, 114, 114);
   
    animation-name: animacija ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   

}

@keyframes animacija {
    0% { width: 500px; height: 270px;} 
    45% {width: 70px; height: 270px;}
    75% {width: 70px; height: 70px;}
   
    85% {width: 70px; height: 70px;
        box-shadow: 10px 10px 30px rgb(65, 61, 61),
        inset 5px 5px 5px rgb(255, 255, 255), 
        inset -10px -10px 8px rgb(255, 254, 254);} 
    100% {width: 70px; height: 70px; 
        box-shadow: 10px 10px 30px rgb(65, 61, 61),
        inset 4px 4px 15px 1px grey,
        inset -10px -10px 4px -5px rgb(219, 219, 219);}
      
    }