
ul {
    background-color: #171f20;
   
}
.lista {
        border: solid black 2px;
        margin: 50px auto;
        text-align: center;
    }
    .lista li {
        display: inline-block;
        width: 20%;
        padding: 5px;
        text-align: left;
        padding: 80px 20px 40px;
        vertical-align: top;
        background-color: #243031;
        font-family: 'helvetica', san-serif;
    }
    .lista li h2 {
       
        font-size: 112px;
        margin: 0;
        position: absolute;
        opacity: 0.2;
        top: 100px;
    }
    .lista li:hover h2 {
        top: 30px;
        
        opacity: 1;
        transition: ease;
        
        transition-duration: 0.7s;
    }
    li h3 {
        color: whitesmoke;
    }
    li p {
        color: whitesmoke;
    }

    button {
        display: block;
        position: relative;
	
	transform: translateY(-40px);
	opacity: 0;
        
    }
    li:hover button {
        display: block;
        background-color: #171f20;
        color: white;
        border: white solid 1px;
        padding: 5px;
        border-radius: 5px;
        opacity: 1;
        transform: translateY(0px);
        transition: ease-in;
        transition: 0.8s;
    }
    li:hover button:hover {
        background-color: white;
        color: #171f20;
        border: #171f20 solid 1px;
        border-radius: 5px;
    }
