* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.conteiner {
   width: 100%;
    height: 1000px;
    display: inline-block;
    border: solid black 1px;
    position: relative;
    margin-top: 50px;
    
}


.header {
    text-align: center;
    width: 100%;
    height: 100px;
    position: sticky;
    background-color: cadetblue;
    z-index: 2;
    top: 0px;
    border: solid black 1px;
    
}

.aside {
    overflow: auto;
    text-align: center;
    width: 20%;
    height: 800px;
    position: absolute;
    top: 110px;
    left: 0px;
    border: solid black 1px;  
}
.aside ul {
    counter-reset: section;
    
}
.aside li::before {
    counter-increment: section;
    content: counters(section, ".") " ";
}

.main {
    background-image: linear-gradient(20deg, #0d6ac3, #c87ae3, #fd9101);
    text-align: center;
    width: 79%;
    height: 800px;
    position: absolute;
    top: 110px;
    right: 0px;
    border: solid black 1px;  
}

.footer {
    text-align: center;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0px;
    border: solid black 1px;   
}

.top-left, .top-right, .center,
 .bottom-left,.bottom-right {
text-align: center;
border: solid blue 1px;
width: 120px;
height: 80px;

}

.top-left {
    position: absolute;
    top: 0px;
    left: 0px;
}
.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
}

.center {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.tooltip {
    visibility: hidden;
  width: 120px;
  background-color: rgb(43, 41, 41);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 90px;
  opacity: 0;
  transition: 0.6s;
}
.center:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.center .tooltip::after {
    content: " ";
    border-width: 5px;
    border-style: solid;
    border-color: rgb(43, 41, 41) transparent transparent transparent ;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    
}
.bottom-left {
    position: absolute;
    width: 300px; height: 300px;
    bottom: 0px;
    left: 0px;
    
}
.bottom-left img {
    width: 100%;
    height: 100%;
    
}
.btn {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 10px 20px;
    font-size: 14px;
    background-color: gainsboro;
    border-radius: 8px;
    border: solid grey 1px;
    text-align: center;
    cursor: progress;
}
.btn:hover {
    background-color: rgb(43, 41, 41);
    color: white;
}
.btn:active {
    box-shadow: 2px 2px 5px 2px grey inset;
}
.bottom-right {
    position: absolute;
    bottom:  0px;
    right: 0px;
    width: 400px;
    height: 300px;
    column-count: 3;
    column-rule: solid rgb(54, 33, 148) 3px;
    
}
.bottom-right h2 {
    column-span: all;
}


.aside li {
    width: 100%;
    background: chartreuse;
    padding-top: 10px;
    cursor: pointer;
}

.dropdown{
    width: 120px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 80px;

    
}
.dropdown li {
    padding: 10px;
   list-style-type: none;
    background: palegreen;
}
.dropdown li:hover {
    background-color: paleturquoise;
    cursor: pointer;
}

.top-left:hover .dropdown {
    display: block;
   
}
.top-right img {
    width: 60px;
    height: 60px;
    
}

.top-right:hover img {
    position: relative;
    right: 50px;
    top: 50px;
   width: 150px;
    height: 150px;
    filter: contrast(150%);
    -webkit-box-reflect: left ;
}

