*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color:#D8AA96;
}
.container{
    width:70%;
    height: 80vh;
    margin: auto;
    display: flex;
    margin-top: 50px;
}

.right{
    background-color:#F7B1AB;
    width: 65%;
    height:100%;
    padding:  30px 50px;
}

.left{
    background-color: #807182;
    width: 35%;
    height:100%;
    padding: 30px;
    position: relative;

}
.left-header{
    display: flex;

}
.left-header h1{
    font-size:28px;
    color: rgba(0, 0, 0, 0.8);
}
.logo{
margin-right: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    transform:rotate(-30deg);
    transform: translateY(-10px);
    background-color:#F7B1AB;
}

.dog{
    position:absolute;
    bottom:10px;
    left:10px;
}
.right-header{
    color: rgba(0, 0, 0, 0.8);

}

.input{
    display:flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
}
.input input{
    width:200px;
    padding:10px 5px 10px 5px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.pets-photo{
    width: 200px;
}
.pets-photo button{
    width:30px;
    height:30px;
    border-radius: 50px;
    background-color: #b0a7b1;
    border: none;
    outline: none;
}


.radio-cont{
    width: 200px;
    background-color: #ffffff;
    padding:10px 15px;
    border-radius: 4px;
}

.radio-cont label {
    background-color: #ffffff;
    padding: 5px 10px ;
    border-radius: 4px;
    text-align: center;
    transition: .2s all ease-in-out;
}

.radio-cont input[type="radio"] {
    display: none;
}

.radio-cont input[type="radio"]:checked + label {
    background-color: #F7B1AB;
}

.weight{
    width: 100%;
}
#weight{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.submit{
    display: flex;
    justify-content:center;
    margin: 50px;
}

.submit button {
    background-color: #807182;
    outline: none;
    border: none;
   font-size: 20px;
   padding: 10px 15px;
   border-radius:1em;
   color: white;
   transition: 0.25s;
}

.submit button:hover {
    box-shadow: 0em 0.5em 0.5em -0.4em rgb(128, 128, 128,0.5);
    transform: translateY(-0.3em);
    cursor: pointer;

}


