body {
    background-color: rgb(229, 226, 226);
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}
.conteiner {
display: grid;
grid-template-columns: 200px 200px;
grid-template-rows: 17% 65% 20%;
grid-template-areas:
 'header header'
 'main menu'
 'logo logo' ;
 margin: 20px;
 box-shadow: 10px 10px 30px grey;
border-radius: 15px;
}

.header {
    grid-area: header;
    background-color: rgb(61, 227, 233);
    color: white;
    border-top-left-radius: 15px  ;
    border-top-right-radius: 15px;
}
h1 {
    padding-left: 18px;
}
.main {
    grid-area: main;
background-color: white;
padding: 15px;

}
.menu {
    grid-area: menu;
    background-color: white;
    padding: 15px;
    padding-top: 100px;
}
]
.main img {
    width: 100px; height: 50px;
}
 pre  {
    display: inline-block;
    vertical-align: middle;
}
.logo {
    grid-area: logo;
    background-color: white;
    display:flex;
    justify-content: space-evenly;
    border-bottom-left-radius: 15px  ;
    border-bottom-right-radius: 15px  ;
    


}

.left{
    background-color: rgb(61, 227, 233);
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    border: rgb(61, 227, 233) solid 1px;
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left:hover {
    background-color: white;
    color: black;
    border: solid 1px rgb(61, 227, 233);
}
.right:hover {
    background-color: rgb(61, 227, 233);
    color: white;
}